@model ClothesShop.Models.User 

@{
    Layout = "";
    ViewBag.Title = "Log On";
}

<html>
    <head>
        <title>Đăng Nhập</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="@Url.Content("~/Content/bootstrap/css/bootstrap.css")" rel="stylesheet" />
        <link href="@Url.Content("~/Content/signin.css")" rel="stylesheet" />
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
        <script src="@Url.Content("~/Scripts/jquery-1.7.1.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <div class="container">
            @using (Html.BeginForm("LogOn", "Account", FormMethod.Post, new { @class = "form-signin" }))
            {
                <h2 class="form-sigin-heading">Đăng Nhập</h2>
                @Html.ValidationSummary(true)
                @Html.TextBoxFor(model => model.LoginName, new { @class = "form-control", placeholder = "Tên Đăng Nhập" })
                @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Mật khẩu" })
                <button class="btn btn-lg btn-primary btn-block" type="submit">Đăng Nhập</button>
            }
            @*@using (Html.BeginForm("Create", "Account", FormMethod.Post, new { @class = "form-signin" }))
            {
                <button class="btn btn-lg btn-primary btn-block" type="submit">Tạo</button>
            }*@
        </div>
    </body>
</html>


